
  

<html>
  <head>
    <style>
      body {
        display: grid;

        place-items: center;

        gap: 50px;

        margin: 0;

        height: 100vh;

        padding: 0 32px;

        background: #eff9ff;

        font-family: "Poppins";
      }

      @media (width >= 500px) {
        body {
          padding: 0;
        }

        .card {
          margin: 0;

          width: 360px;
        }
      }

      .background {
        position: fixed;

        top: -50vmin;

        left: -50vmin;

        width: 100vmin;

        height: 100vmin;

        border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
        background: #65c8ff;
      }

      .card {
        overflow: hidden;

        position: relative;

        z-index: 3;

        width: 94%;

        margin: 20px;

        padding: 170px 30px 54px;

        border-radius: 24px;

        background: #ffffff;

        text-align: center;

        box-shadow: 0 100px 100px rgb(000/10%);
      }

      .card::before {
        content: "";

        position: absolute;

        top: -880px;

        left: 50%;

        translate: -50% 0;

        width: 1000px;

        height: 1000px;

        border-radius: 50%;

        background: #216ce7;
      }

      .background::after {
        content: "";

        position: inherit;

        right: -50vmin;

        bottom: -55vmin;

        width: inherit;

        height: inherit;

        border-radius: inherit;

        background: #143d81;
      }
    </style>
  </head>

  <body>
    <div class="background"></div>

    <div class="card">
      <form method="GET" action="/user/expense">
        <label class="label"><h1 class="h1">Joke Generator</h1></label>
        <br><br>
        <button class="button">Submit</button>
        </form>
        <b><hr></b>
        <!-- <form method="GET" action="/urlshortner">
          <label class="label"><h1 class="h1">URL-Shortner</h1></label>
          <br><br>
          <button class="button">Submit</button>
          </form>
       -->
      
      
      
      
    </div>
  </body>
</html>
