<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{
        background-image: url(https://img.freepik.com/free-vector/world-emoji-day-flat-background_23-2149453901.jpg?t=st=1718404524~exp=1718408124~hmac=e324cf902bfad8dd6796d466bf2709cdd314a4fbe2791544432c4a9e96cf0822&w=1380);
        background-size: cover;
      }
      .card {margin:auto;
        border: 4px solid white;
        height: 500px;
        width: 400px;
        
        border-radius: 15px;
        text-align: center;
        padding: 50px;
        margin-top: 250px;
        /* text-align: justify; */

        box-shadow: 2px 2px 50cap white;
      }
      .h1 {
        padding-top: 80px;
      }
      .button {
        font-weight: bolder;
        height: 40px;
        width: 120px;
        font-style: italic;
        font-size: large;
        border-radius: 10px;
        background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
      }
    </style>
  </head>

  <body>
    <!-- <div class="background"></div> -->

    <div class="card">
      <form method="GET" action="/signup">
        <label class="label"><h1 class="h1">Sign-Up</h1></label>
        <br />
        <button class="button">CLICK ME</button>
      </form>
      <b><hr /></b>

      <form method="GET" action="/user/login">
        <label class="label"><h1 class="h1">Login</h1></label>
      
        <br />
        <button class="button">CLICK ME</button>
      </form>
    </div>
  </body>
</html>
