

<html>
  <head>
    <style>
    
body{
  
  
  background-image: url(https://img.freepik.com/free-vector/hand-drawn-world-emoji-day-background-with-emoticons_23-2149418958.jpg?t=st=1718403467~exp=1718407067~hmac=3aceba80187185626b0626b9787f710ba4e287c576b2dc1407d0bad0e900debc&w=1380);
  background-size:contain;
  background-size: cover;
}
      

    

      .card{  box-shadow: 2px 3px 50cap yellow;
        
        margin-top: 250px;
        border:2px solid black;
        height:500px;
        width:400px;
        margin:auto;
        text-align: center;
        margin-top: 250px;
        border-radius: 25px;
        
      }
      .btn{ font-size:larger;
        font-weight: bolder;
        font-style: italic;
        cursor: pointer;
        
        background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
        
        border-radius: 10px;
        height: 40px;
        width: 120px;
      }
      .smallbox{ height: 40px;
        width:auto;
        border-radius: 10px;
        font-size: x-large;
        border-color: brown;
        font-family: 'Times New Roman', Times, serif
  ;
      }

    </style>
  </head>

  <body>
    <!-- <div class="background"></div> -->

    <div class="card">
 

      <form method="POST" action="/signuped">
        <h1>Sign-Up</h1>
        <br><br>
        <label 
        >Username</label>
        <input type="text" name="username" class="smallbox" />
        <br><br>
        <label 
        >Email-ID</label>
        <input type="email" name="emailID"  class="smallbox"/>
        <br><br>
        <label 
        >Password</label>
        <input type="password" name="password"  class="smallbox" />
        <br><br>
        <button class="btn">Submit</button>
      </form>
      
    </div>
  </body>
</html>
